.bgLogged {
  background-color: rgb(28, 30, 33);
  color: white;
  padding-bottom: 95vh;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: rgb(31, 33, 36);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(102, 102, 102);
  border-radius: 4px;
}
.userInfoP {
  font-size: 18px;
  margin-top: 8px;
}
.bgLoggedSub {
  background-color: rgb(31, 33, 36);
}
.profileOptionsP {
  display: flex;
}
.profileOptionsP p {
  margin-right: 8px;
  cursor: pointer;
}
.bm-w {
  border-bottom: 1px solid rgb(102, 102, 102);
}
.l-selected {
  color: rgb(35, 131, 255);
  margin-right: 2.5rem;
}
.l-unselected {
  margin-right: 2.5rem;
}
.l-unselected:hover {
  text-decoration: none;
}
.l-selected:hover {
  text-decoration: none;
}
.pointerItem:hover {
  cursor: pointer;
  filter: brightness(115%);
}
.a {
  text-decoration: none;
}
.NavLink {
  text-decoration: none;
}
.td-h:hover {
  text-decoration: none;
  color: white;
}
.trainingHistoryContainer {
  position: relative;
  height: 300px;
  width: 800px;
  border: 2px solid rgba(204, 201, 201, 0.479);
  overflow-y: auto;
  border-radius: 8px;
  background-color: rgb(31, 33, 36);
}
.button-red,
.button-blue,
.button-green,
.button-green-whitebg {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  padding: 0.3rem 0.3rem;
  border-radius: 8px;
  text-transform: uppercase;
  transition: 0.2s;
}
.button-red {
  background-color: red;
  box-shadow: rgb(158, 5, 5) 0 0 25px;
}
.button-red:hover {
  color: red;
  background-color: #fff;
  box-shadow: rgb(255, 255, 255) 0 0 25px;
}
.button-blue {
  transition: 0.2s;
  background-color: rgb(0, 17, 255);
  /* box-shadow: rgb(28, 95, 240) 0 0 25px; */
}
.button-blue:hover {
  color: rgb(0, 17, 255);
  background-color: #fff;
  box-shadow: rgb(255, 255, 255) 0 0 25px;
}
.button-green {
  transition: 0.2s;
  background-color: rgb(8, 196, 48);
  /* box-shadow: rgb(13, 219, 92) 0 0 25px; */
}
.button-green:hover {
  color: rgb(8, 196, 48);
  background-color: #fff;
  box-shadow: rgb(255, 255, 255) 0 0 25px;
}
.button-green-whitebg {
  transition: 0.2s;
  background-color: rgb(8, 196, 48);
  /* box-shadow: rgb(13, 219, 92) 0 0 25px; */
}
.button-green-whitebg:hover {
  box-shadow: rgb(6, 230, 36) 0 0 25px;
}
.button-smooth {
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 5%;
}
.button-smooth:hover {
  background-color: rgb(46, 47, 51);
}
.trainingElement {
  display: flex;
  border: 1px solid rgb(116, 108, 108);
  margin: 17px 15px;
  padding: 20px 0px;
  justify-content: center;
  background: linear-gradient(to right, #946705e5, #bd5506ea);
  overscroll-behavior: none;
  overflow: hidden;
  border-radius: 5px;
  filter: brightness(95%);
}
.trainingElement:hover {
  cursor: pointer;
  filter: brightness(105%);
}
.trainingElement p {
  margin-right: 25px;
}
.workoutSectionContainer {
  display: flex;
  justify-content: center;

  width: 60%;
}
.workoutSectionContainerElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(52, 53, 54, 0.863);
  width: 25rem;
  height: 24rem;
  border-radius: 5%;
  transition: all 0.2s;
  border: 1px solid rgb(180, 180, 180);
}
.workoutSectionContainerElement:hover {
  transform: scale(1.02);
  border: 1px solid rgb(168, 168, 168);
  filter: brightness(105%);
  box-shadow: 0px 2px 12px 0px #fff;
}
.workoutSectionIcon {
  height: 7.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
.workoutButtonContainer {
  margin-bottom: 2rem;
}
.creatorSection-left {
  background-color: rgba(224, 35, 35, 0.027);
  height: 60rem;
  width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.creatorSection-right {
  background-color: rgb(167, 165, 165);
  height: 60rem;
  width: 88rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bodyPartsIcon,
.bodyPartsIconSelected {
  height: 40px;
  cursor: pointer;
}
.bodyPartsIcon:hover,
.bodyPartsIconSelected:hover {
  filter: brightness(130%);
}
.bodyPartsIcon {
  filter: brightness(65%);
}
.bodyPartsIconSelected {
  filter: brightness(100%);
}
.exerciseImg {
  height: 8rem;
}
.exerciseImgBig {
  height: 12rem;
}
.exercises-grid {
  margin-top: 1rem;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.exercises-grid--card {
  background-color: rgba(70, 70, 70, 0.336);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(129, 129, 129, 0.486);
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  filter: brightness(80%);
  cursor: pointer;
  box-shadow: rgb(17, 17, 17) 0 0 15px;
}
.exercises-grid--card:hover {
  filter: brightness(110%);
}
.exercisesButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.exercisesBox {
  border: 1px solid rgba(255, 255, 255, 0.541);
  width: 90%;
  height: 90%;
  background-color: rgb(197, 195, 195);
  overflow-y: scroll;
  box-shadow: rgb(128, 128, 128) 0 0 15px;
}
.selectedExerciseElement {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.selectedExerciseBox {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(241, 241, 241, 0.76);
  margin: 2rem;
  margin-bottom: 2rem;
  box-shadow: rgb(128, 128, 128) 0 0 15px;
}
.selectedExerciseElementInfo {
  flex: 1;
}
.selectedExerciseElementForm {
  display: flex;
  justify-content: space-around;
}
.workoutContainer {
}
.workoutContainer input:not([type="checkbox"]),
.addWorkoutForm input:not([type="checkbox"]),
.addWorkoutForm select {
  text-align: center;
  background-color: rgb(54, 54, 54);
  color: white;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  width: 20rem;
  margin-bottom: 1.2rem;
  font-size: 16px;
}

.addWorkoutForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.addWorkoutForm h3 {
  margin-bottom: 8px;
  font-size: 1.5rem;
}
.addWorkoutForm h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.close-selectedExerciseBox {
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  right: 1%;
}
.close-selectedExerciseBox:hover {
  color: rgba(253, 4, 4, 0.767);
  cursor: pointer;
}
.bs-black {
  box-shadow: rgb(0, 0, 0) 0 0 25px;
}

.selectedExerciseElementForm label {
}
.selectedExerciseElementInfo {
}
.bodyPartsIconSelected {
}
.creatorSection-left--workoutsContainer {
}
