.bgLogged {
  background-color: rgb(28, 30, 33);
  color: white;
  padding-bottom: 95vh;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: rgb(31, 33, 36);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(102, 102, 102);
  border-radius: 4px;
}
.userInfoP {
  font-size: 18px;
  margin-top: 8px;
}
.bgLoggedSub {
  background-color: rgb(31, 33, 36);
}
.profileOptionsP {
  display: flex;
}
.profileOptionsP p {
  margin-right: 8px;
  cursor: pointer;
}
.bm-w {
  border-bottom: 1px solid rgb(102, 102, 102);
}
.l-selected {
  color: rgb(35, 131, 255);
  margin-right: 8px;
}
.l-unselected {
  margin-right: 8px;
}
.l-unselected:hover {
  text-decoration: none;
}
.l-selected:hover {
  text-decoration: none;
}
.pointerItem:hover {
  cursor: pointer;
  filter: brightness(115%);
}
.a {
  text-decoration: none;
}
.NavLink {
  text-decoration: none;
}
.td-h:hover {
  text-decoration: none;
  color: white;
}
.trainingHistoryContainer {
  position: relative;
  height: 300px;
  width: 800px;
  border: 2px solid rgba(204, 201, 201, 0.479);
  overflow-y: auto;
  border-radius: 3px;
  background-color: rgb(31, 33, 36);
}
.button-red {
  font-size: 12px;
  background-color: red;
  padding: 0.3rem 0.3rem;
  border-radius: 8px;
  text-transform: uppercase;
  transition: 0.2s;
  box-shadow: rgb(158, 5, 5) 0 0 25px;
}
.button-red:hover {
  color: red;
  background-color: #fff;
  box-shadow: rgb(255, 255, 255) 0 0 25px;
}
.button-blue {
  font-size: 12px;
  background-color: rgb(0, 17, 255);
  padding: 0.3rem 0.3rem;
  border-radius: 8px;
  text-transform: uppercase;
  transition: 0.2s;
  /* box-shadow: rgb(28, 95, 240) 0 0 25px; */
}
.button-blue:hover {
  color: rgb(0, 17, 255);
  background-color: #fff;
  box-shadow: rgb(255, 255, 255) 0 0 25px;
}
.button-green {
  font-size: 12px;
  background-color: rgb(8, 196, 48);
  padding: 0.3rem 0.3rem;
  border-radius: 8px;
  text-transform: uppercase;
  transition: 0.2s;
  /* box-shadow: rgb(13, 219, 92) 0 0 25px; */
}
.button-green:hover {
  color: rgb(8, 196, 48);
  background-color: #fff;
  box-shadow: rgb(255, 255, 255) 0 0 25px;
}
.button-smooth {
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 5%;
}
.button-smooth:hover {
  background-color: rgb(46, 47, 51);
}
.trainingElement {
  display: flex;
  border: 1px solid rgb(116, 108, 108);
  margin: 17px 15px;
  padding: 20px 0px;
  justify-content: center;
  background-color: rgba(196, 41, 41, 0.39);
  overscroll-behavior: none;
  overflow: hidden;
}
.trainingElement:hover {
  cursor: pointer;
  filter: brightness(130%);
}
.trainingElement p {
  margin-right: 25px;
}
.workoutSectionContainer {
  display: flex;
  justify-content: center;

  width: 60%;
}
.workoutSectionContainerElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(52, 53, 54, 0.863);
  width: 25rem;
  height: 24rem;
  border-radius: 5%;
  transition: all 0.2s;
  border: 1px solid rgb(180, 180, 180);
}
.workoutSectionContainerElement:hover {
  transform: scale(1.02);
  border: 1px solid rgb(168, 168, 168);
  filter: brightness(105%);
  box-shadow: 0px 2px 12px 0px #fff;
}
.workoutSectionIcon {
  height: 7.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
.workoutButtonContainer {
  margin-bottom: 2rem;
}
