.bgLogged {
  background-color: rgb(28, 30, 33);
  color: white;
  padding-bottom: 100vh;
}
.userInfoP {
  font-size: 18px;
  margin-top: 8px;
}
.bgLoggedSub {
  background-color: rgb(31, 33, 36);
}
.profileOptionsP {
  display: flex;
}
.profileOptionsP p {
  margin-right: 8px;
  cursor: pointer;
}
.bm-w {
  border-bottom: 1px solid rgb(102, 102, 102);
}
.l-selected {
  color: rgb(35, 131, 255);
  text-decoration: none;
  margin-right: 8px;
}
.l-unselected {
  margin-right: 8px;
}
.l-unselected:hover {
  text-decoration: none;
}
.l-selected:hover {
  text-decoration: none;
}
.pointerItem:hover {
  cursor: pointer;
  filter: brightness(115%);
}
.a {
  text-decoration: none;
}
.NavLink {
  text-decoration: none;
}
