.header {
  /* position: absolute;
  top: 0;
  left: 0; */
  /* width: 100%; */
  align-items: center;
  z-index: 100;
  /* display: flex; */
  justify-content: space-between;
  background-color: rgb(43, 45, 49);
  /* backdrop-filter: blur(455px); */
  border-bottom: 1px solid rgb(70, 70, 70);
}
.iconsHeader {
  height: 22px;
  filter: invert(1);
}
.iconsHeader:hover {
}
.navbar {
  min-width: 220px;
}
.midIconsHeader {
  height: 24px;
  filter: invert(0.85);
  /* padding-right: 3rem; */
}
.midIconContainer {
  border-radius: 30%;
}

.midIconContainer:hover {
  background-color: rgb(70, 70, 70);
}

.midIconsHeaderSelected {
  height: 24px;
  filter: invert(31%) sepia(81%) saturate(1645%) hue-rotate(200deg)
    brightness(96%) contrast(99%);
}
.rightIconsContainer {
  background-color: rgba(73, 73, 73, 0.774);
  border-radius: 40%;
}
.rightIconsContainer:hover {
  background-color: rgba(95, 95, 95, 0.623);
}
.profileDropdown {
  z-index: 100;
  position: absolute;
  background-color: rgb(43, 45, 49);
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 10rem;

  color: red;
  right: 1%;
  top: 5.4%;
}
.iconsHeaderProfile {
  height: 40px;
}
li:hover {
  background-color: rgb(92, 95, 102);
}
