.statsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
}
.statsElement {
  height: clamp(20rem, 9.286rem + 28.571vw, 35rem);
  width: clamp(20rem, 9.286rem + 28.571vw, 35rem);
  margin: 0 auto;
}
.statsElementBig {
  height: clamp(20rem, 9.286rem + 28.571vw, 35rem);
  width: clamp(20rem, 9.286rem + 28.571vw, 45rem);
}
.activityContainer {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.graphContainer {
  width: 5rem;
}
@media (max-width: 1600px) {
  .statsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
  .statsElementBig {
    margin-top: 5rem;
  }
}
