.menteeGridBox {
  border: 1px solid rgba(228, 228, 228, 0.13);
  border-radius: 10px;
  width: clamp(15rem, 0rem + 40vw, 36rem);
  min-height: 20rem;
  max-height: 25rem;
  display: flex;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.116);
  flex-direction: column;
  overflow-y: scroll;
  padding-top: 0.5rem;
}
.menteeGridElement {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 1.6rem;
  background: linear-gradient(to right, #095e97f1, #032e7eda);
  box-shadow: 0px 5px 10px 0px #00000071;
  width: clamp(12rem, -2.286rem + 38.095vw, 32rem);
  transition: all 0.2s;
  filter: brightness(95%);
  height: fit-content;
  margin: 1rem 0;
}
.menteeGridElement:hover {
  cursor: pointer;
  filter: brightness(105%);
  transform: translateY(-1.5px);
  box-shadow: 0px 9px 10px 0px #00000071;
}
.menteeGridElementIcons {
  display: flex;
  position: absolute;
  right: 5%;
}
.menteeGridElementIcons button {
  padding: clamp(0.3rem, -0.343rem + 1.714vw, 1.2rem);
  background: rgba(202, 202, 202, 0.075);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.089);
  border-radius: 1.5rem;
  transition: all 0.2s;
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
}
.menteeGridElementIcons button:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.219);
  filter: brightness(110%);
  transform: scale(1.1);
}
.menteeGridElementIcons button:not(:last-child) {
  margin-right: 2rem;
}
.trainingSetElementBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 10rem;
  overflow-y: auto;
  border: 1px solid rgba(151, 151, 151, 0.185);
  border-radius: 20px;
  background-color: rgba(231, 231, 231, 0.048);
}
.trainingSetElement {
  position: relative;
  background: linear-gradient(to right, #095e97f1, #032e7eef);
  width: 15rem;
  border-radius: 30px;
  box-shadow: 0px 4px 15px 0px #0000007e;
  transition: all 0.2s;
  cursor: pointer;
  margin: 1rem 0;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trainingSetElement:hover {
  filter: brightness(110%);
  transform: translateY(-2px);
  box-shadow: 0px 6px 15px 0px #0000007e;
}
.imageMedium {
  height: clamp(0.5rem, 0rem + 1.333vw, 1.2rem);
}
.imageSmall {
  height: clamp(0.5rem, -0.071rem + 1.524vw, 1.3rem);
}
.pName {
  font-size: clamp(0.688rem, 0.375rem + 0.833vw, 1.125rem);
}
.avatarIcon {
  height: clamp(3.8rem, 2.943rem + 2.286vw, 5rem);
}
@media (max-width: 1400px) {
  .pName {
    margin-bottom: 3rem;
  }
}
